# To retrieve the placeId : https://developers.google.com/maps/documentation/places/web-service/place-id?hl=fr
sensor:
  - platform: storesnearby
    stores:
      - name: "<name to display in UI>"
        place_id: "<the place_id to retrieve>"
      - name: "<an other place>"
        place_id: "<his place_id>"